.excel-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.small-button {
  background-color: #1656df;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  width: auto;
  transition: background-color 0.3s;
}

.small-button:hover:not(:disabled) {
  background-color: hsl(214, 82%, 51%);
}

.small-button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}